<% if user_signed_in? %>
<h1><%="Welcome #{current_user.profile.fname.upcase}" %></h1>	
<%= content_tag :p, "USERNAME: #{current_user.profile.username} " %>
<%= content_tag :p, "NAME: #{current_user.profile.fname} #{current_user.profile.lname}" %>
<%= content_tag :p, "CREDIBILITY: #{current_user.profile.credibility}" %>
<button class="editp">Edit Profile</button>

<% end %>