<% if user_signed_in? %>

<div id="card"> 
  <div class="front"> 
  	<div>
    <%= content_tag :p, "Question:#{@cardDisplay[@counter].question}?", class: ""%>
    </div>
  </div> 
  
  <div class="back">
    <div>
   <%= content_tag :p, "Answer: #{@cardDisplay[@counter].answer}", class: "" %>
  </div>
  </div> 
</div>

<% end %>