<% if user_signed_in? %>

<div id="card"> 
  <div class="front"> 
  	<div>
      <%= content_tag :p, "", class: "cardQuestion"%>
    </div>
  </div> 

  <div class="back">
    <div>
      <%= content_tag :p, "", class: "cardAnswer" %>
    </div>
  </div> 
</div>

<% end %>