<% if user_signed_in? %>

<div id="card"> 
  <div class="front"> 
  	<div>
    <%= content_tag :p, "Question:#{@cardDisplay[@counter].question}?", class: ""%>
      <%= content_tag :p, "", class: "cardQuestion"%>
    </div>
  </div> 
  
  <div class="back">
    <div>
   <%= content_tag :p, "Answer:#{@cardDisplay[@counter].answer}", class: "" %>
  </div>
      <%= content_tag :p, "", class: "cardAnswer" %>
    </div>
  </div> 
</div>

<% end %>