/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	margin: 0;
	padding: 0;
}

#card {
	width: 500px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
}

.front div {
	position: relative;
  	top: 30%;
  	font-family: Papyrus,fantasy; 
  	font-size: 30px;
 	transform: translateY(-50%);
}

.back div {
	position: relative;
  	top: 30%;
  	font-family: Papyrus,fantasy;
  	font-size: 30px;
 	transform: translateY(-50%);
}

.front{
	/*the flash card background for the front*/
	background-image: linear-gradient(180deg, white 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px), repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));;
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  	height: 14rem;
  	width: 400px;
	margin: auto;
	position: relative;
}

.back{
	/*the flash card background for the back*/
	background-image: linear-gradient(180deg, white 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px), repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));;
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  	height: 14rem;
  	width: 400px;
	margin: auto;
	position: relative;}

#profile_content{
	text-align: center;
	margin-top: 40px;
}

#profile_content h1 {
  	font-size: 30px;
}

#profile_content p {
  	font-size: 25px;
}

.user-buttons{
	display: block;
	position: relative;
}

.card-container{
	text-align: center;
}

/*this is for the user nav bar*/
nav {
	background: #F0A4A4;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 10;
	text-align: center;
}

nav ul {
	list-style-type: none;

}

nav ul li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

nav ul a {
	color: black;
	text-decoration: none;
}
