/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	margin: 0;
	padding: 0;
}

/*style for devise log in and sign up pages*/

/*these are the text field boxes*/
.field {
  margin-left: 40%;
}

/*these are the buttons*/
.actions {
  margin-left: 40%
}

/*these are the links*/
.deviseLink {
  margin-left: 40%;
}

/*the titles or top page text*/
.deviseTitle {
  margin-left: 40%;
}

.deviseTitle h2 {
  font: normal normal 300 45px "Electrolize", Helvetica, sans-serif;
}

.new_user, .new_admin {
	font: normal normal 300 12px "Electrolize", Helvetica, sans-serif;
}

.deviseLink a {
	font: normal normal 300 10px "Electrolize", Helvetica, sans-serif;
}

/*the links to log in on the root page before login*/

.userLogIn, .adminLogIn {
  font: normal normal 300 45px "Electrolize", Helvetica, sans-serif;
  text-align: center;
}
.userLogIn a, .adminLogIn a {
	text-decoration: none;
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 30px;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 25.600000381469727px;
  border: 1px solid rgb(225,225,225);
  font: normal normal 300 15px/32px "Electrolize", Helvetica, sans-serif;
  color: rgb(102, 102, 102);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(0deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: -moz-linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgb(187,187,187) , 0 8px 3px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgb(187,187,187) , 0 8px 3px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  outline: 0;
  margin: 2.5%;
}

.userLogIn a:hover, .adminLogIn a:hover {
	color: rgba(135,135,135,1);
  background: -webkit-linear-gradient(-90deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), -webkit-linear-gradient(0deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: -moz-linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), -moz-linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
	outline: 0;
}

.userLogIn a:active, .adminLogIn a:active {
	top: 6px;
  color: rgba(160,160,160,1);
  background: -webkit-linear-gradient(-90deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  background: -moz-linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset;
  -webkit-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  text-decoration: none;
  outline: 0;
}

/*the landing page title in home index view*/
.landingTitle {
	background-image: linear-gradient(180deg, white 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px), repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));;
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  	height: 14rem;
  	width: 400px;
	margin: auto;
	position: relative;
}

.landingTitle h1 {
  	font-family: Papyrus,fantasy; 
  	font-size: 20px;
  	text-align: center
}

/*style for flash messaging*/

.flashNotice {
  display: none;
  z-index: 9999;
  left: 40%;
  top: 20%;
  position: absolute;
  border-radius: 8px;
  background-color: rgba(67, 85, 156, 0.7);
  height: 150px;
  width: 300px;
  font-size: 1em;
}

.flashNotice p {
  padding-top: 15px;
  text-align: center;
  font-size: 3em;
  color: rgb(255, 255, 255);
}

.cardPlusButtons {
	margin-top: 160px;
}

#card {
	width: 375px;
	height: 225px;
	text-align: center;
	margin: 0 auto;
	position: fixed;
}

.flipCard {
	top: 35%;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.front div {
  	top: 50%;
  	font-family: Papyrus,fantasy; 
  	font-size: 15px;
 	transform: translateY(-50%);
 	position: fixed;
 	width: 100%;
}

.back div {
  	top: 50%;
  	font-family: Papyrus,fantasy;
  	font-size: 15px;
 	transform: translateY(-50%);
 	position: fixed;
 	width: 100%;
}

.front{
	/*the flash background for the front*/
	background-image: linear-gradient(180deg, white 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px), repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));;
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  	height: 14rem;
  	width: 200px;
	margin: auto;
	position: relative;
}

.back{
	/*the flash card background for the back*/
	background-image: linear-gradient(180deg, white 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px), repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));;
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  	height: 14rem;
  	width: 200px;
	margin: auto;
	position: relative;}

.user-buttons{
	display: block;
	position: relative;
}

/*this is for the user nav bar*/
nav {
	position: fixed;
	top:0;
	width: 100%;
	z-index: 10;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	background: #F0A4A4;
}

nav ul {
	list-style-type: none;

}

nav ul li {
	display: inline-block;
	padding-left: 1%;
	padding-right: 1%;
}

nav ul a {
	text-decoration: none;
	display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 30px;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 25.600000381469727px;
  border: 1px solid rgb(225,225,225);
  font: normal normal 300 15px/32px "Electrolize", Helvetica, sans-serif;
  color: rgb(102, 102, 102);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(0deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: -moz-linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgb(187,187,187) , 0 8px 3px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgb(187,187,187) , 0 8px 3px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  outline: 0;
  margin: 2.5%;
}

nav ul a:hover {
	color: rgba(135,135,135,1);
  background: -webkit-linear-gradient(-90deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), -webkit-linear-gradient(0deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: -moz-linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), -moz-linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
	outline: 0;
}

nav ul a:active {
	top: 6px;
  color: rgba(160,160,160,1);
  background: -webkit-linear-gradient(-90deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  background: -moz-linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset;
  -webkit-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  text-decoration: none;
  outline: 0;
}

nav button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 30px;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 25.600000381469727px;
  border: 1px solid rgb(225,225,225);
  font: normal normal 300 15px/32px "Electrolize", Helvetica, sans-serif;
  color: rgb(102, 102, 102);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(0deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: -moz-linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgb(187,187,187) , 0 8px 3px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgb(187,187,187) , 0 8px 3px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  outline: 0;
  margin: 2.5%;
}

nav button:hover {
	  color: rgba(135,135,135,1);
  background: -webkit-linear-gradient(-90deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), -webkit-linear-gradient(0deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: -moz-linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), -moz-linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
	outline: 0;
}

nav button:active {
	top: 6px;
  color: rgba(160,160,160,1);
  background: -webkit-linear-gradient(-90deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  background: -moz-linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset;
  -webkit-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  text-decoration: none;
  outline: 0;
}

.nextButton, .previousButton {
	  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 30px;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 25.600000381469727px;
  border: 1px solid rgb(225,225,225);
  font: normal normal 300 15px/32px "Electrolize", Helvetica, sans-serif;
  color: rgb(102, 102, 102);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(0deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: -moz-linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgb(187,187,187) , 0 8px 3px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgb(187,187,187) , 0 8px 3px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  outline: 0;
}

.nextButton:hover, .previousButton:hover {
		  color: rgba(135,135,135,1);
  background: -webkit-linear-gradient(-90deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), -webkit-linear-gradient(0deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: -moz-linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), -moz-linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
	outline: 0;
}

.nextButton:active, .previousButton:active {
	top: 6px;
	color: rgba(160,160,160,1);
	background: -webkit-linear-gradient(left, rgb(255,255,255) 0%, rgb(235,235,235) 100%), rgb(255, 255, 255);
	background: -o-linear-gradient(left, rgb(255,255,255) 0%, rgb(235,235,235) 100%), rgb(255, 255, 255);
	background: linear-gradient(to right, rgb(255,255,255) 0%, rgb(235,235,235) 100%), rgb(255, 255, 255);
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
	-webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset;
	box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset;
	-webkit-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	-moz-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	-o-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	text-decoration: none;
	outline: 0;
}

.nextPrevButtons button {
	margin: 2.5%;
}

.publicCard, #new_private_card, .private-card-info {
text-align: center;
  	border: 1px solid #F0A4A4;
    max-height: 100%;
    background-color: #FFFFFF;
    overflow-y: auto;
  	border: 1px solid #F0A4A4;
  	width: 50%;
  	margin: 0 auto;
  	font: normal normal 300 15px/32px "Electrolize", Helvetica, sans-serif;
  	margin-top: 20%;
}

.private-cards {
	text-align: center;
  	border: 1px solid #F0A4A4;
  	width: 50%;
    position: absolute;
    max-height: 100%;
    background-color: #FFFFFF;
    overflow-y: auto;
    top: 75px;
    right: 475px;
}
#profile_content{
	text-align: center;
	margin-top: 15%;
  	border: 1px solid #F0A4A4;
  	width: 50%;
  	margin: 0 auto;
}

#profile_content h1 {
  	font: normal normal 300 20px/32px "Electrolize", Helvetica, sans-serif;
}

#profile_content p {
	font: normal normal 300 20px/32px "Electrolize", Helvetica, sans-serif;
}

.avatarPic img {
	width: 50%;
}

#edit-profile {
	text-align: center;
  	border: 1px solid #F0A4A4;
    background-color: #FFFFFF;
  	border: 1px solid #F0A4A4;
  	width: 50%;
  	margin: 0 auto;
  	margin-top: -5%;
  	font: normal normal 300 15px/32px "Electrolize", Helvetica, sans-serif;
}












